*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.img-res{
    max-width: 100%;
}
.bg{
    width: 100%;
    height: 100vh;

    background-image: url('heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}
.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.content p{
    font-size: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.surendra .code{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    padding: 5px 0;
    outline: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.surendra button{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-image: linear-gradient(blue,green);

}
.product{
   width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.product .item{
    float: left;
    width: 32%;
    margin: 8px;
}
@media  screen and (max-width:700px) {
   .product .item{
        width: 100%;
        float: none;

    }
}